div(class='isso-postbox')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
        section(class='auth-section')
            p(class='input-wrapper')
                label(for='isso-postbox__author',class='isso-visuallyhidden')= i18n('postbox-author')
                input(type='text' name='author' id='isso-postbox__author' placeholder=i18n('postbox-author')
                      value=author !== null ? '#{author}' : '')
            p(class='input-wrapper')
                label(for='isso-postbox__email',class='isso-visuallyhidden')= i18n('postbox-email')
                input(type='email' name='email' id='isso-postbox__email' placeholder=i18n('postbox-email')
                      value=email != null ? '#{email}' : '')
            p(class='input-wrapper')
                label(for='isso-postbox__website',class='isso-visuallyhidden')= i18n('postbox-website')
                input(type='text' name='website' id='isso-postbox__website' placeholder=i18n('postbox-website')
                      value=website != null ? '#{website}' : '')
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
