div(class='isso-postbox')
    img(class='avatar')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
        section(class='auth-section')
            div(class='auth-not-loggedin')
                div(class='auth-login-optional')
                    p(class='input-wrapper')
                        input(type='text' name='author' placeholder=i18n('postbox-author')
                              value=author !== null ? '#{author}' : '')
                    p(class='input-wrapper')
                        input(type='email' name='email' placeholder=i18n('postbox-email')
                              value=email != null ? '#{email}' : '')
                    p(class='input-wrapper')
                        input(type='text' name='website' placeholder=i18n('postbox-website')
                              value=website != null ? '#{website}' : '')
                    p(class='login-separator') #{i18n('auth-login')}
                div(class='auth-login-mandatory')
                    p(class='login-separator') #{i18n('auth-must-login')}
                p(class='login-wrapper')
                    a(class='login-link-openid' href='#')
                        img(alt=i18n('auth-openid'))
                    a(class='login-link-facebook' href='#')
                        img(alt=i18n('auth-facebook'))
                    a(class='login-link-google' href='#')
                        img(alt=i18n('auth-google'))
            div(class='auth-loggedin-openid')
                p(class='auth-openid-name')
                p(class='logout-wrapper')
                    a(class='logout-link-openid' href='#') #{i18n('logout')}
            div(class='auth-loggedin-facebook')
                p(class='auth-facebook-name')
                p(class='logout-wrapper')
                    a(class='logout-link-facebook' href='#') #{i18n('logout')}
            div(class='auth-loggedin-google')
                p(class='auth-google-name')
                p(class='logout-wrapper')
                    a(class='logout-link-google' href='#') #{i18n('logout')}
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
        p(class='markdown-note')
            a(target='_blank' href='https://en.wikipedia.org/wiki/Markdown') Markdown
            = i18n('markdown-note')
        p(class='login-note')
            span(class='login-note-service')
            = i18n('login-note')
