div(class='isso-postbox')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
            div(class='isso-comment')
                if conf.avatar
                    div(class='avatar')
                        svg(viewbox=' 0 0 48 48')
                            rect(x='0' y='0' width='48' height='48' style='fill: #f0f0f0' )
                div(class='text-wrapper')
                    div(class='isso-comment-header' role='meta')
                        span(class='author')
                    div(class='preview text' name='preview')
        section(class='auth-section')
            p(class='input-wrapper')
                input(type='text' name='author' placeholder=i18n('postbox-author')
                      value=author !== null ? '#{author}' : '')
            p(class='input-wrapper')
                input(type='email' name='email' placeholder=i18n('postbox-email')
                      value=email != null ? '#{email}' : '')
            p(class='input-wrapper')
                input(type='text' name='website' placeholder=i18n('postbox-website')
                      value=website != null ? '#{website}' : '')
            p(class='post-action')
                span(class='info-icon' data-toggle='modal' data-target='#comments-info-modal')
                     i(class='fa fa-info-circle')
                button(class='preview' name='toggle-preview' ) Preview
                input(type='submit' value=i18n('postbox-submit'))
