div(class='isso-postbox')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
            div(class='preview')
                div(class='isso-comment')
                    div(class='text-wrapper')
                        div(class='text')
        section(class='auth-section')
            p(class='input-wrapper')
                input(type='text' name='author' placeholder=i18n('postbox-author')
                      value=author !== null ? '#{author}' : '')
            p(class='input-wrapper')
                input(type='email' name='email' placeholder=i18n('postbox-email')
                      value=email != null ? '#{email}' : '')
            p(class='input-wrapper')
                input(type='text' name='website' placeholder=i18n('postbox-website')
                      value=website != null ? '#{website}' : '')
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
            p(class='post-action')
                input(type='button' name='preview'
                      value=i18n('postbox-preview'))
            p(class='post-action')
                input(type='button' name='edit'
                      value=i18n('postbox-edit'))
        section(class='notification-section')
                label
                    input(type='checkbox' name='notification')
                    = i18n('postbox-notification')
