div(class='isso-postbox')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
        section(class='auth-section')
            p(class='input-wrapper input-wrapper-author')
                input(type='text' name='author' placeholder=i18n('postbox-author') title=i18n('postbox-author')
                      value=author !== null ? '#{author}' : '')
            p(class='input-wrapper input-wrapper-email')
                input(type='email' name='email' placeholder=i18n('postbox-email') title=i18n('postbox-email')
                      value=email != null ? '#{email}' : '')
            p(class='input-wrapper input-wrapper-password')
                input(type='password' name='password' placeholder=i18n('postbox-password') title=i18n('postbox-password')
                value=password != null ? '#{password}' : '')
            p(class='input-wrapper input-wrapper-website')
                input(type='text' name='website' placeholder=i18n('postbox-website') title=i18n('postbox-website')
                      value=website != null ? '#{website}' : '')
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
