div(class='isso-postbox')
    div(class='form-wrapper')
        div(class='textarea-wrapper')
            div(class='textarea placeholder' contenteditable='true')
                = i18n('postbox-text')
        section(class='auth-section')
            div(class='auth-not-loggedin')
                p(class='input-wrapper')
                    input(type='text' name='author' placeholder=i18n('postbox-author')
                          value=author !== null ? '#{author}' : '')
                p(class='input-wrapper')
                    input(type='email' name='email' placeholder=i18n('postbox-email')
                          value=email != null ? '#{email}' : '')
                p(class='input-wrapper')
                    input(type='text' name='website' placeholder=i18n('postbox-website')
                          value=website != null ? '#{website}' : '')
                p(class='social-login-separator') or login:
                p(class='social-login-wrapper')
                    a(class='social-login-link-facebook' href='#')
                        img(alt='Authenticate using Facebook')
            div(class='auth-loggedin-facebook')
                p(class='auth-facebook-name') Name
                p(class='social-logout-wrapper')
                    a(class='social-logout-link-facebook' href='#') Log out
            p(class='post-action')
                input(type='submit' value=i18n('postbox-submit'))
